<div class="box-container">
  <div class="row">
    <div class="col-xs-6">
      <div id="balances"></div>
      <div class="row">
        <div class="col-xs-6">
          <h3>Create</h3>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control"  style="width:100px;" id="create_amount" placeholder="Amount" />
              </div>
            </div>
            <button type="button" class="btn btn-primary" id="create_submit" style="width:85px;">Create</button>
          </form>
        </div>
        <div class="col-xs-6">
          <h3>Redeem</h3>
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control"  style="width:100px;" id="redeem_amount" placeholder="Amount" />
              </div>
            </div>
            <button type="button" class="btn btn-primary" id="redeem_submit" style="width:85px;">Redeem</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="box-container" style="margin-top: 20px;">
        <h3 style="text-align: center;">?</h3>
        <p>OutcomeCoin mints prediction market tokens on the Ethereum blockchain. OutcomeCoin tokens have value tied to future outcomes, using <a href="https://realitykeys.com">Reality Keys</a> as the source of truth.</p>
        <p>Each OutcomeCoin token is defined by an Ethereum smart contract that abides by the <a href="https://github.com/ethereum/EIPs/issues/20">ERC-20 token standard</a>. This means OutcomeCoin tokens can trade on any exchange that supports ERC-20 tokens. <a href="https://etherdelta.github.io">EtherDelta</a> is the official exchange for OutcomeCoin tokens.</p>
        <p>Use the dropdown in the upper left to select an OutcomeCoin. Then use the form on the left to create and redeem Yes and No tokens.</p>
        <p>When you create OutcomeCoin tokens, <br /><code>1 Ether = 1 Yes token + 1 No token</code>.</p>
        <p>When you redeem OutcomeCoin tokens, <br /><code>1 Yes token + 1 No token = 1 Ether</code>.</p>
        <p>Once the outcome has been resolved, either <br /><code>1 Yes token = 1 Ether</code> or <code>1 No token = 1 Ether</code>, <br />depending on the outcome.</p>
      </div>
    </div>
  </div>
</div>
