<p>Connection: <%= connection.connection %> (<%= connection.provider %>) <%= connection.testnet ? 'TESTNET' : ''%></p>
<p>Connect using <a class="btn btn-default" href="https://metamask.io" target="_blank"><img src="/images/metamask.png" style="height: 25px;" /> MetaMask</a> or <a class="btn btn-default" href="https://github.com/ethereum/mist" target="_blank"><img src="/images/mist.png" style="height: 25px;" /> Mist Browser</a></p>
